AccessControl==4.2
Acquisition==4.6
astroid==2.4.2
AuthEncoding==4.1
beautifulsoup4==4.9.1
BTrees==4.7.2
cffi==1.14.0
Chameleon==3.7.2
click==7.1.2
colorzero==1.1
DateTime==4.3
DocumentTemplate==3.2.3
ExtensionClass==4.4
Flask==1.1.2
Flask-SocketIO==4.3.0
gpiozero==1.5.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
MultiMapping==4.1
PasteDeploy==2.1.0
Persistence==3.0
persistent==4.6.4
pkg-resources==0.0.0
pycparser==2.20
pylint==2.5.3
python-engineio==3.13.0
python-gettext==4.0
python-socketio==4.6.0
pytz==2020.1
RestrictedPython==5.0
roman==3.2
RPi.GPIO==0.7.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
transaction==3.0.0
typed-ast==1.4.1
waitress==1.4.4
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==1.0.1
wrapt==1.12.1
WSGIProxy2==0.4.6
z3c.pt==3.3.0
ZConfig==3.5.0
zExceptions==4.1
ZODB==5.6.0
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.1
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.0
zope.schema==6.0.0
zope.security==5.1.1
zope.sequencesort==4.1.2
zope.site==4.3.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0.2
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
